<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>ADD ADMIN</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
<style>
body {
  
  background-color: white;
}


.conta-border {
  width: 100% !important;
  height: 200%;
  padding: 20px;
  margin: auto;
  margin-top: 80px;
  background-color: white;
  border-radius: 20px;
  border: solid 2px #ccc;
}
h1{

}
button{
  width: 15%;
  background-color: #4495fa;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  justify-content: space-around;
  align-content: center;
}
footer{
 margin: auto;
 text-align: center;
}
</style>
<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <link href="css/style.css" rel="stylesheet">
  
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	
	 <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
	<!-- Start Navbar -->
	<!--<nav class="navbar navbar-light" style="background: linear-gradient(135deg, #71b7e6, #9b59b6);">-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: linear-gradient(#4495fa,#373389)">
		<div class="container d-flex align-items-center">
		 <a href="/myhome" class="logo me-auto"><img src="assets/img/logo5.png" alt="" class="logo"></a>
		 	 <div id="main">
		</div> 
		
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					
					<li class="nav-item"><a class="nav-link"
						 href="/myhome">HOME</a></li>
					
					<li class="nav-item"><a class="nav-link"
						 href="/loginUser">LEAD LIST</a></li>
					
					<li class="nav-item"><a class="nav-link"
						 href="/login">LOGOUT</a>
					</li>	 
				</ul>
				
				
			</div>
		</div>
	</nav>
 	


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
<div class="conta-border">
<h1 style="color: #4495fa">Update Lead</h1>

			<div th:if="${messages}" class="alert alert-danger">
				<p th:text="${messages}" ></p>
			</div><br><br>
			<form action="#" th:action="@{/loginUser/saveUser}" th:object="${loginUser}" method="POST">
				<input type="hidden" th:field="*{id}" />
				
				Number Of Employee:&emsp;<input type="number" th:field="*{numberOfEmployee}"  placeholder="number Of Employee" required>
			
			   &emsp;Date:&emsp;<input type="date" th:field="*{date}" placeholder="date" >
			
				&emsp;Last Contacted Date:&emsp;<input type="date" th:field="*{lastContactedDateAndTime}" placeholder="last Contacted Date And Time" > 
				<!--<input type="date" th:field="*{date}" placeholder="date" >
			
				<input type="date" th:field="*{lastContactedDateAndTime}" placeholder="last Contacted Date And Time" > -->
	
				<!--<input type="text" th:field="*{leadSolutionSuggested}" placeholder="lead Solution Suggested">-->
				&emsp;Lead Solution Suggested:&emsp;<select th:field="*{leadSolutionSuggested}" > 
        			<option value="CCH tagetik">CCH Tagetik</option> 
        			<option value="Akeron">Akeron</option> 
        			<option value="Patang">Patang</option> 
        			<option value="onestream"> onestream </option> 
        			<option value="adecta"> adecta </option>
        			<option value="fluence"> fluence </option>
        			<option value="Entomo"> Entomo </option>
        			<option value="elysianNX"> elysianNX </option>
    			</select> <br><br> 
				<!--<input type="text" th:field="*{leadGenerated}" placeholder="lead Generated" required>-->
				Lead Generated:&emsp;&emsp;&emsp;<select th:field="*{leadGenerated}" > 
        			<option value="Marketing Qualified">Marketing Qualified</option> 
        			<option value="Sales Qualified">Sales Qualified</option> 
        			<option value="opportunity"> opportunity </option>
    			</select> 
    			
				&emsp;Lead Status:&nbsp;<input type="text" th:field="*{leadStatus}" placeholder="lead Status" required>
				
				<!--<input type="text" th:field="*{leadSource}" placeholder="lead Source" required>-->
				&emsp;Lead Source:&emsp;<select th:field="*{leadSource}" > 
        			<option value="Google Ads">Google Ads</option> 
        			<option value="Facebook ">Facebook </option> 
        			<option value="Twitter">Twitter</option> 
        			<option value="Instagram"> Instagram </option> 
        			<option value="LinkedIn"> LinkedIn </option>
        			<option value="Referral"> Referral </option>
        			<option value="Website visit"> Website visit </option>
        			<option value="Whitepapers/casestudies"> Whitepapers/casestudies </option>
        			<option value="Email Campaign"> Email Campaign </option>
        			<option value="Chatbot"> Chatbot </option>
    			</select> 
				
				<!--<input type="text" th:field="*{lifeCycleStages}" placeholder="life Cycle Stages" required>-->
				&emsp;Life Cycle Stages:&emsp;<select th:field="*{lifeCycleStages}" > 
        			<option value="New">New</option> 
        			<option value="nurture ">nurture </option> 
        			<option value="qualified">qualified</option> 
        			<option value="quote requested"> quote requested </option> 
        			<option value="quote sent"> quote sent </option>
        			<option value="call connected"> call connected </option>
        			<option value="email sent"> email sent </option>
        			<option value="open deal"> open deal </option>
        			<option value="recycle"> recycle </option>
        			<option value="unqualified"> unqualified </option>
        			<option value="lost"> lost </option>
        			<option value="converted"> converted </option>
        			<option value="delayed"> delayed </option>
        			<option value="closed"> closed </option>
    			</select> <br><br>
				&emsp;Company Name:&emsp;<input type="text" th:field="*{CompanyName}" placeholder="Company Name" required>
				
				&emsp;Website:&emsp;<input type="text" th:field="*{website}" placeholder="website" required>
				
				&emsp;Company LinkedIn:&emsp;<input type="text" th:field="*{CompanyLinkedIn}" placeholder="Company LinkedIn" required>
				<br><br>
				&emsp;Contact Number:&emsp;<input type="text" th:field="*{contactNumber}" placeholder="contact Number" required>
				
				&emsp;Industry:&emsp;<input type="text" th:field="*{industry}" placeholder="industry" required>
		
				&emsp;State And Country:&emsp;<input type="text" th:field="*{stateAndCountry}" placeholder="state And Country" required>
				<br><br>
				&emsp;Annual Revenue:&emsp;<input type="text" th:field="*{annualRevenue}" placeholder="annual Revenue">
			
				&emsp;Partners:&emsp;<input type="text" th:field="*{partners}" placeholder="partners">
				
				<!--  <input type="text" th:field="*{use}" placeholder="use">-->
				
				
    			
				&emsp;First Name:&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<input type="text" th:field="*{firstName}" placeholder="firstName">
				<br><br>
				&emsp;Last Name:&emsp;&emsp;&nbsp;<input type="text" th:field="*{lastName}" placeholder="lastName">
				
				&emsp;Email:&emsp;<input type="text" th:field="*{email}" placeholder="email" disabled>
				
				&emsp;Designation:&emsp;<input type="text" th:field="*{designation}" placeholder="designation">
				
				&emsp;Mailing Country:&emsp;<input type="text" th:field="*{mailingCountry}" placeholder="mailing Country">
				<br><br>
				&emsp;Person LinkedInn:&emsp;<input type="text" th:field="*{personLinkedInn}" placeholder="person LinkedInn">
				
				&emsp;Phone Number:&emsp;<input type="text" th:field="*{phoneNumber}" placeholder="phone Number">
				
				&emsp;Additional Details:&emsp;<input type="text" th:field="*{additionalDetails}" placeholder="additional Details">
				&emsp;Lead Manage:&emsp;<select th:field="*{leadManager}" > 
        			<option value="Anjali">Anjali</option> 
        			<option value="Burhan">Burhan</option> 
        			<option value="Other"> Nimiya </option> 
        			<option value="Sofia"> Sofia </option> 
        			<option value="kiranjith"> kiranjith </option> 
    			</select> 
				<br><br>
				&emsp;Latest Comment:&emsp;<input type="text" th:field="*{latestComment}" placeholder="latest Comment">
				
				<!--  <input type="text" th:field="*{personSolutionSuggested}" placeholder="person Solution Suggested ">-->
				
				&emsp;PersonSolutionSuggested:&emsp;<select th:field="*{personSolutionSuggested}" > 
        			<option value="CCH tagetik">CCH Tagetik</option> 
        			<option value="Akeron">Akeron</option> 
        			<option value="Patang">Patang</option> 
        			<option value="onestream"> onestream </option> 
        			<option value="adecta"> adecta </option>
        			<option value="fluence"> fluence </option>
        			<option value="Entomo"> Entomo </option>
        			<option value="elysianNX"> elysianNX </option>
    			</select> 
				
				<!-- <input type="text" th:field="*{leadManager}" placeholder="lead Manager"> -->
				
				
    			&emsp;Use:&emsp;<select th:field="*{use}" > 
        			<option value="SAP">SAP</option> 
        			<option value="Oracle">Oracle</option> 
        			<option value="Other"> Other </option> 
    			</select> 
					<br><br>
					<button type="submit">Update New Lead</button>
			</form>
</div>	
	<footer style="color: #4495fa">
    <font size="1">&nbsp;&nbsp;&copy; Copyright 2023 <a href="https://www.samcorporate.com/"
       >SAM Corporate</a>. All rights reserved. </font>
  </footer>	

</body>
</html>

