<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>Register Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
<style>
body {
  font-family: "Lato", sans-serif;
   background-color:white;
}

.conta-border {
  width: 100% !important;
  height: 300%;
  padding: 20px;
  margin: auto;
  margin-top: 80px;
  background-color: white;
  border-radius: 20px;
  border: solid 2px #ccc;
}
h1{

}

footer{
 margin: auto;
 text-align: center;
}
input[type="text"],
input[type="password"],input[type="number"],input[type="date"],
.form-select {
  width: 20%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  /* border: none; */
  border: 2px solid #f3f2f2;
  border-radius: 20px;
  background-color:#f6f6f6;
  text-align: center;
}
.form-select.ip2 {
  width: 20%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  /* border: none; */
  border: 2px solid #f3f2f2;
  border-radius: 20px;
  background-color:#f6f6f6;
  text-align: center;
  
}
input[type="submit"] {
  background-color: #4495fa;
  color: white;
  padding: 5px 15px;
  margin: 10px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  
}
</style>
<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <link href="css/style.css" rel="stylesheet">
  
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	
	 <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
	<!-- Start Navbar -->
	<!--<nav class="navbar navbar-light" style="background: linear-gradient(135deg, #71b7e6, #9b59b6);">-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: linear-gradient(#4495fa,#373389)">
		<div class="container d-flex align-items-center">
		 <a href="/myhome" class="logo me-auto"><img src="assets/img/logo5.png" alt="" class="logo"></a>
		 
		 	 <div id="main">
		</div> 
		
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					
					<li class="nav-item"><a class="nav-link"
						 href="/myhome">HOME</a></li>
					
					<li class="nav-item"><a class="nav-link"
						 href="/loginUser">LEAD LIST</a></li>
					
					<li class="nav-item"><a class="nav-link"
						 href="/login">LOGOUT</a>
					</li>	 
				</ul>
				
				
			</div>
		</div>
	</nav>
 	


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
		
<div class="conta-border">

<h1 style="color: #4495fa">Register Lead</h1>

<div th:if="${messages}" class="alert alert-danger">
				<p th:text="${messages}" ></p>
			</div><br><br>
			<form action="#" th:action="@{/loginUser/saveLoginUser}" th:object="${loginUser}" method="POST">
				Number Of Employee<input type="number" th:field="*{numberOfEmployee}"  placeholder="number Of Employee" required>
			
			   &emsp;Date:&emsp;&emsp;&emsp;&emsp;<input type="text" th:field="*{date}" placeholder="yyyy/mm/dd" >
			
				Last Contacted Date:&emsp;&emsp;&nbsp;<input type="date" th:field="*{lastContactedDateAndTime}" placeholder="last Contacted Date And Time" > 
				<!--<input type="date" th:field="*{date}" placeholder="date" >
			
				<input type="date" th:field="*{lastContactedDateAndTime}" placeholder="last Contacted Date And Time" > -->
	
				<!--<input type="text" th:field="*{leadSolutionSuggested}" placeholder="lead Solution Suggested">--><br><br>
				 
				Company Name:&emsp;&emsp;&nbsp;<input type="text" th:field="*{CompanyName}" placeholder="Company Name" required>
				
				&emsp;Website:&emsp;&emsp;&emsp;<input type="text" th:field="*{website}" placeholder="website" required>
				
				&emsp;Company LinkedIn:&emsp;&emsp;<input type="text" th:field="*{CompanyLinkedIn}" placeholder="Company LinkedIn" required>
				<br><br>
				Contact Number:&emsp;&emsp;<input type="text" th:field="*{contactNumber}" placeholder="contact Number" required>
				
				&emsp;Industry:&emsp;&emsp;&emsp;&nbsp;<input type="text" th:field="*{industry}" placeholder="industry" required>
		
				&emsp;State And Country:&emsp;&emsp;<input type="text" th:field="*{stateAndCountry}" placeholder="state And Country" required>
				<br><br>
				Annual Revenue:&emsp;&emsp;<input type="text" th:field="*{annualRevenue}" placeholder="annual Revenue">
			
				&emsp;Partners:&emsp;&emsp;&emsp;&emsp;<input type="text" th:field="*{partners}" placeholder="partners">
				
				<!--  <input type="text" th:field="*{use}" placeholder="use">-->
				
				
    			
				&emsp;First Name:&emsp;&emsp;&emsp;&emsp;&nbsp;&emsp;<input type="text" th:field="*{firstName}" placeholder="firstName">
				<br><br>
				Last Name:&emsp;&emsp;&emsp;&emsp;&nbsp;<input type="text" th:field="*{lastName}" placeholder="lastName">
				
				&emsp;Email:&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<input type="text" th:field="*{email}" placeholder="email" >
				
				&emsp;Designation:&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<input type="text" th:field="*{designation}" placeholder="designation">
				<br><br>
				Mailing Country:&emsp;&emsp;&nbsp;<input type="text" th:field="*{mailingCountry}" placeholder="mailing Country">
				
				&emsp;Person LinkedInn:<input type="text" th:field="*{personLinkedInn}" placeholder="person LinkedInn">
				
				&emsp;Phone Number:&emsp;&emsp;&emsp;&emsp;<input type="text" th:field="*{phoneNumber}" placeholder="phone Number">
				<br><br>
				Additional Details:&emsp;&emsp;<input type="text" th:field="*{additionalDetails}" placeholder="additional Details">
				
				&emsp;Latest Comment:<input type="text" th:field="*{latestComment}" placeholder="latest Comment">
				&emsp;Life Cycle Stages:&nbsp;&emsp;&emsp;&emsp;<select class="form-select ip2" th:field="*{lifeCycleStages}" > 
        			<option value="New">New</option> 
        			<option value="nurture ">nurture </option> 
        			<option value="qualified">qualified</option> 
        			<option value="quote requested"> quote requested </option> 
        			<option value="quote sent"> quote sent </option>
        			<option value="call connected"> call connected </option>
        			<option value="email sent"> email sent </option>
        			<option value="open deal"> open deal </option>
        			<option value="recycle"> recycle </option>
        			<option value="unqualified"> unqualified </option>
        			<option value="lost"> lost </option>
        			<option value="converted"> converted </option>
        			<option value="delayed"> delayed </option>
        			<option value="closed"> closed </option>
    			</select>
				
				<!--  <input type="text" th:field="*{personSolutionSuggested}" placeholder="person Solution Suggested ">-->
			
				<br><br>
              	Lead Source:&emsp;&emsp;&emsp;&emsp;<select class="form-select ip2" th:field="*{leadSource}">
                <option value="Google Adsp">Google Adsp</option>
                <option value="Facebook">Facebook</option>
                <option value="Twitter">Twitter</option>
                <option value="Instagram">Instagram</option>
                <option value="LinkedIn">LinkedIn</option>
                <option value="Referral">Referral</option>
                <option value="Website visit">Website visit</option>
                <option value="Whitepapers/casestudies">Whitepapers/casestudies</option>
                <option value="Email Campaign">Email Campaign</option>
                <option value="Chatbot">Chatbot</option>
              </select>
    			
    			&emsp;Lead Status:&emsp;&emsp;&nbsp;<input type="text" th:field="*{leadStatus}" placeholder="lead Status" required>
				&emsp;Lead Manage:&emsp;&emsp;&emsp;&emsp;&emsp;<select class="form-select ip2" th:field="*{leadManager}" > 
        			<option value="Anjali">Anjali</option> 
        			<option value="Burhan">Burhan</option> 
        			<option value="Other"> Nimiya </option> 
        			<option value="Sofia"> Sofia </option> 
        			<option value="kiranjith"> kiranjith </option> 
    			</select> 
    			<br><br>
				Lead Generated:&emsp;&emsp;&emsp;<select class="form-select ip2" th:field="*{leadGenerated}" > 
        			<option value="Marketing Qualified">Marketing Qualified</option> 
        			<option value="Sales Qualified">Sales Qualified</option> 
        			<option value="opportunity"> opportunity </option>
    			</select> 
				
				<!-- <input type="text" th:field="*{leadManager}" placeholder="lead Manager"> -->
				
			
    			&emsp;Use:&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;<select class="form-select ip2" th:field="*{use}" > 
        			<option value="SAP">SAP</option> 
        			<option value="Oracle">Oracle</option> 
        			<option value="Other"> Other </option> 
    			</select> 
				Lead Solution Suggested:&emsp;<select class="form-select ip2"  th:field="*{leadSolutionSuggested}" > 
        			<option value="CCH tagetik">CCH Tagetik</option> 
        			<option value="Akeron">Akeron</option> 
        			<option value="Patang">Patang</option> 
        			<option value="onestream"> onestream </option> 
        			<option value="adecta"> adecta </option>
        			<option value="fluence"> fluence </option>
        			<option value="Entomo"> Entomo </option>
        			<option value="elysianNX"> elysianNX </option>
    			</select>  
				<!--<input type="text" th:field="*{leadGenerated}" placeholder="lead Generated" required>-->
				<br><br>
    			Person Solution Suggested:&emsp;<select class="form-select ip2" th:field="*{personSolutionSuggested}" > 
        			<option value="CCH tagetik">CCH Tagetik</option> 
        			<option value="Akeron">Akeron</option> 
        			<option value="Patang">Patang</option> 
        			<option value="onestream"> onestream </option> 
        			<option value="adecta"> adecta </option>
        			<option value="fluence"> fluence </option>
        			<option value="Entomo"> Entomo </option>
        			<option value="elysianNX"> elysianNX </option>
    			</select> 
            
           
				
				
				<!--<input type="text" th:field="*{leadSource}" placeholder="lead Source" required>-->
				
				
				<!--<input type="text" th:field="*{lifeCycleStages}" placeholder="life Cycle Stages" required>-->
				
					<br><br>
					<input type="submit" value="Register New Lead">
					<!--  <button type="submit">Register New Lead</button>-->
			</form>
<br><br>			
</div>	
	<footer style="color: #4495fa">
    <font size="1">&nbsp;&nbsp;&copy; Copyright 2023 <a href="https://www.samcorporate.com/"
       >SAM Corporate</a>. All rights reserved. </font>
  </footer>	

</body>
</html>